body {
    margin: 10px;
    margin-right: 10px;
    background-color: red;
}
.box-cont{
    width: 1400px;
    height: 500px;
    margin: 50px;
    /* margin-left: 60px;
    margin-right: 40px; */
    padding: 20px;
    background-color: #e8e088;
}
.box {
    margin-top: 100px;
    margin: 10px;
    width: 1360px;
    height: 60px;
    padding: 5px;
    background-color: #f2dc5f;
}
.box1 {
    margin: 20px;
    width: 650px;
    padding: 5px;
    height: 300px;
    float: left;
    background-color: #f2dc5f;
}
.box2 {
    margin: 20px;
    width :650px;
    height: 300px;
    float: right;
    background-color: #f2dc5f;
}
.box3 {
    padding: 5px;
    margin: 20px;
    margin-top: 350px;
    width: 1350px;
    height: 60px;
    background-color: #f2dc5f;
} 
